each album in albums
    .album(id=album._id)
        a(name=album.title)
        .album__title #{album.title}
            span.album__count (#{album.count} photos)
        .album__grid  
            include photos.pug    
           
