extends layout

block content  
  body
  button.sidebar-button(type='button')    
    .sidebar-button__line
  .box-display
    .sidebar
      .top
        .profile__avatar-wrap
          if user
            img.profile__avatar(src=`/redactor/avatar/`, alt='avatar')
          else
            img.profile__avatar(src='/photo/pic/40.jpg', alt='avatar')
          button.profile__avatar-button   
            | Edit photo
            br
            | ▼
        .profile__name #{fullname}               
        .profile__count 2390 files
        button.upload-button(type='button') upload          
      .search
        img.search__forma(src='svg/Search.svg', alt='svg')
        input.search__input(type='text', placeholder='Search files')
      .menu
        .menu__title Categories
        label.menu__option
          | Photos
          input.menu__input(type='radio', name='categories', checked='checked')
          span.checkmark
        label.menu__option
          | Videos
          input.menu__input(type='radio', name='categories')
          span.checkmark
        label.menu__option
          | Projects
          input.menu__input(type='radio', name='categories')
          span.checkmark
      .menu
        .menu__title
          | albums
          svg.menu__button(shape-rendering='crispEdges', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 20 20', style='enable-background:new 0 0 20 20;', xml:space='preserve')
            style(type='text/css').
              .st1{fill:#EA5A5A;}
            rect.st1(x='9', y='4', width='2', height='12')
            rect.st1(x='4', y='9', width='12', height='2')
        .menu__options.menu__options_sticky         
            input.menu__new-album(type='text', name='title', placeholder='enter the name')           
      .scale
        .scale__grid-small
        div
          input.scale__slider(type='range', min='0', max='100', step='25')
          .scale_slider-fill
        .scale__grid-large
    .content
        .actions
          img.slideshow-button(src='svg/slideshowButton.svg')
          img.share-button(src='svg/shareButton.svg')        
          img.logout-button(src='svg/logout.svg')
        .album
          .album__title
            | Subcarpathia 2016
            span.album__count (8 photos)
          .album__grid
            .album-cell
              img.album-cell__img(src='photo/shvejtsariya.jpg', width='100%', height='100%')
              .album-cell__meta
                .album-cell__time 5:40 PM
                .album-cell__f f/8
                .album-cell__shotter 1/250
                .album-cell__iso ISO 400
              .album-cell__date 25.02.2016
            .album-cell
              img.album-cell__img(src='photo/gory_leto.jpg', width='100%', height='100%')
              .album-cell__meta
                .album-cell__time 5:40 PM
                .album-cell__f f/8
                .album-cell__shotter 1/250
                .album-cell__iso ISO 400
              .album-cell__date 25.02.2016
            .album-cell
              img.album-cell__img(src='photo/pirs_prichal.jpg', width='100%', height='100%')
              .album-cell__meta
                .album-cell__time 5:40 PM
                .album-cell__f f/8
                .album-cell__shotter 1/250
                .album-cell__iso ISO 400
              .album-cell__date 25.02.2016
            .album-cell
              .album-cell__meta
                .album-cell__time 5:40 PM
                .album-cell__f f/8
                .album-cell__shotter 1/250
                .album-cell__iso ISO 400
              .album-cell__date
            .album-cell
              .album-cell__meta
                .album-cell__time 5:40 PM
                .album-cell__f f/8
                .album-cell__shotter 1/250
                .album-cell__iso ISO 400
              .album-cell__date
            .album-cell
              .album-cell__meta
                .album-cell__time 5:40 PM
                .album-cell__f f/8
                .album-cell__shotter 1/250
                .album-cell__iso ISO 400
              .album-cell__date
            .album-cell
              .album-cell__meta
                .album-cell__time 5:40 PM
                .album-cell__f f/8
                .album-cell__shotter 1/250
                .album-cell__iso ISO 400
              .album-cell__date
            .album-cell
              .album-cell__meta
                .album-cell__time 5:40 PM
                .album-cell__f f/8
                .album-cell__shotter 1/250
                .album-cell__iso ISO 400
              .album-cell__date
            .album-cell
              img.album-cell__img(src='photo/shvejtsariya.jpg', width='100%', height='100%')
              .album-cell__meta
                .album-cell__time 5:40 PM
                .album-cell__f f/8
                .album-cell__shotter 1/250
                .album-cell__iso ISO 400
              .album-cell__date 25.02.2016
            .album-cell
              img.album-cell__img(src='photo/gory_leto.jpg', width='100%', height='100%')
              .album-cell__meta
                .album-cell__time 5:40 PM
                .album-cell__f f/8
                .album-cell__shotter 1/250
                .album-cell__iso ISO 400
              .album-cell__date 25.01.2016
            .album-cell
              img.album-cell__img(src='photo/pirs_prichal.jpg', width='100%', height='100%')
              .album-cell__meta
                .album-cell__time 5:40 PM
                .album-cell__f f/8
                .album-cell__shotter 1/250
                .album-cell__iso ISO 400
              .album-cell__date 25.02.2016
            .album-cell
              .album-cell__meta
                .album-cell__time 5:40 PM
                .album-cell__f f/8
                .album-cell__shotter 1/250
                .album-cell__iso ISO 400
              .album-cell__date 25.02.2016
            .album-cell
              .album-cell__meta
                .album-cell__time 5:40 PM
                .album-cell__f f/8
                .album-cell__shotter 1/250
                .album-cell__iso ISO 400
              .album-cell__date
            .album-cell
              .album-cell__meta
                .album-cell__time 5:40 PM
                .album-cell__f f/8
                .album-cell__shotter 1/250
                .album-cell__iso ISO 400
              .album-cell__date
            .album-cell
              .album-cell__meta
                .album-cell__time 5:40 PM
                .album-cell__f f/8
                .album-cell__shotter 1/250
                .album-cell__iso ISO 400
              .album-cell__date
            .album-cell
              .album-cell__meta
                .album-cell__time 5:40 PM
                .album-cell__f f/8
                .album-cell__shotter 1/250
                .album-cell__iso ISO 400
              .album-cell__date
            .album-cell
              .album-cell__meta
                .album-cell__time 5:40 PM
                .album-cell__f f/8
                .album-cell__shotter 1/250
                .album-cell__iso ISO 400
              .album-cell__date
            .album-cell
              .album-cell__meta
                .album-cell__time 5:40 PM
                .album-cell__f f/8
                .album-cell__shotter 1/250
                .album-cell__iso ISO 400
              .album-cell__date
            .album-cell
              .album-cell__meta
                .album-cell__time 5:40 PM
                .album-cell__f f/8
                .album-cell__shotter 1/250
                .album-cell__iso ISO 400
              .album-cell__date
            .album-cell
              .album-cell__meta
                .album-cell__time 5:40 PM
                .album-cell__f f/8
                .album-cell__shotter 1/250
                .album-cell__iso ISO 400
              .album-cell__date
            .album-cell
              .album-cell__meta
                .album-cell__time 5:40 PM
                .album-cell__f f/8
                .album-cell__shotter 1/250
                .album-cell__iso ISO 400
              .album-cell__date
        .album
          .album__title
            | Summer 2015
            span.album__count (16 photos)
          .album__grid
            .album-cell
              img.album-cell__img(src='photo/shvejtsariya.jpg', width='100%', height='100%')
              .album-cell__meta
                .album-cell__time 5:40 PM
                .album-cell__f f/8
                .album-cell__shotter 1/250
                .album-cell__iso ISO 400
              .album-cell__date 25.02.2016
            .album-cell
              .album-cell__meta
                .album-cell__time 5:40 PM
                .album-cell__f f/8
                .album-cell__shotter 1/250
                .album-cell__iso ISO 400
              .album-cell__date
            .album-cell
              .album-cell__meta
                .album-cell__time 5:40 PM
                .album-cell__f f/8
                .album-cell__shotter 1/250
                .album-cell__iso ISO 400
              .album-cell__date
            .album-cell
              .album-cell__meta
                .album-cell__time 5:40 PM
                .album-cell__f f/8
                .album-cell__shotter 1/250
                .album-cell__iso ISO 400
              .album-cell__date
            .album-cell
              .album-cell__meta
                .album-cell__time 5:40 PM
                .album-cell__f f/8
                .album-cell__shotter 1/250
                .album-cell__iso ISO 400
              .album-cell__date
            .album-cell
              .album-cell__meta
                .album-cell__time 5:40 PM
                .album-cell__f f/8
                .album-cell__shotter 1/250
                .album-cell__iso ISO 400
              .album-cell__date
            .album-cell
              .album-cell__meta
                .album-cell__time 5:40 PM
                .album-cell__f f/8
                .album-cell__shotter 1/250
                .album-cell__iso ISO 400
              .album-cell__date
            .album-cell
              .album-cell__meta
                .album-cell__time 5:40 PM
                .album-cell__f f/8
                .album-cell__shotter 1/250
                .album-cell__iso ISO 400
              .album-cell__date
