extends layout

block content          
      .sidebar
        form.form-signup(method='POST' action='/user')
          .form-signup__title Sign up
          div(class=`form-signup__input-title ${name}`) Username
          input.form-signup__input(type='text', name='Username', placeholder='Username...')
          div(class=`form-signup__input-title ${email}`) Email
          input.form-signup__input(type='email', name='email' placeholder='Email address...')
          div(class=`form-signup__input-title ${password}`) Password
          input.form-signup__input(type='password', name='password')
          div(class=`form-signup__input-title ${password}`) Repeat Password
          input.form-signup__input(type='password', name='password2')
          label.form-signup__checkbox
            input(type='checkbox')
            |  I agree to the 
            a(href='#')
              b Terms of user
          .buttons
            input.signup(type='submit' , value='Sign up')
            button.signin Sign in →
      .background
