extends layout

block content 
  body 
    .sidebar-wrapper 
      .sidebar
        != messages('messages', locals)        
        form.form-signup(method='POST' action='/user/login')
          .form-signup__title Sign in         
          input.form-signup__input(type='text', name='username', placeholder='Username...')           
          input.form-signup__input(type='password', name='password', placeholder='Password...')          
          .buttons
            input.signup(type='submit', value='Sign in')            
            a.signin(href="/user") Sign up →
      .background
      

