    @charset "UTF-8";
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        text-decoration: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: subpixel-antialiased;
        user-select: none;
    }
    
     ::-webkit-scrollbar {
        position: absolute;
        width: 8px;
    }
    
     ::-webkit-scrollbar-track {
        visibility: hidden;
    }
    
     ::-webkit-scrollbar-thumb {
        background: #d8d8d8;
        border-radius: 5px;
    }
    
     ::-webkit-scrollbar-thumb:hover {
        background: rgb(121, 121, 121);
    }
    
    body {
        font-stretch: 100%;
        font-style: normal;
        font-variant-caps: normal;
        font-variant-east-asian: normal;
        font-variant-ligatures: normal;
        font-variant-numeric: normal;
        overflow-x: hidden;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    .box-display {
        width: calc(100vw - 220px);
        position: unset;
        display: flex;
        flex-direction: row;
        margin-left: 220px;
        font-family: "Helvetica Neue";
    }
    
    div {
        display: block;
    }
    
    button,
    input,
    label {
        border: none;
        text-decoration: none;
        outline: none;
        cursor: pointer;
        background-color: transparent;
        vertical-align: middle;
        font-family: 'Helvetica Neue'
    }
    
    a {
        display: block;
        color: inherit;
        text-decoration: inherit;
    }
    
    ul {
        list-style-type: none;
    }
    /* sidebar */
    
    .sidebar-button {
        display: none;
        position: fixed;
        z-index: 5;
        width: 10px;
        background: transparent;
        border-radius: 10px;
        bottom: calc(50vh - 50px);
        right: 5px;
        font-size: 50px;
    }
    
    .sidebar-button__line {
        width: 4px;
        height: 100px;
        background: #a3a2a8;
        border-radius: 5px;
        opacity: 0.7;
        margin: 0 auto;
    }
    
    .sidebar-button__line:active,
    .left_bar:focus {
        opacity: 1;
    }
    
    .sidebar {
        display: block;
        background-color: rgb(30, 29, 38);
        position: fixed;
        left: 0px;
        top: 0;
        width: 220px;
        height: 100%;
        z-index: 2;
    }
    
    .content {
        background-color: rgb(250, 250, 250);
        display: flex;
        flex-direction: column;
        position: relative;
        left: 0px;
        top: 0px;
        z-index: 0;
        width: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        padding: 30;
        flex-shrink: 1;
    }
    
    .sidebar_hide {
        transform: translateX(-100vw);
    }
    
    .top {
        background-color: rgb(39, 38, 49);
        position: relative;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 250px;
    }
    /* profile */
    
    .profile__avatar {
        display: block;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
        position: relative;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
    .profile__avatar-wrap {
        position: relative;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
        /* background-color: rgb(255, 255, 255); */
        border-radius: 50%;
        top: 30px;
        width: 80px;
        height: 80px;
        margin: 0 auto;
        overflow: hidden;
    }
    
    .profile__avatar-button {
        position: absolute;
        background-color: #19181e6c;
        width: 100%;
        height: 100%;
        z-index: 30;
        top: 0;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        text-align: center;
        font-size: 14px;
        color: floralwhite;
    }
    
    .profile__avatar-button:hover {
        opacity: 0.8;
    }
    
    .profile__name {
        font-size: 16px;
        font-family: "Helvetica Neue";
        color: rgb(255, 255, 255);
        font-weight: bold;
        position: relative;
        margin: 0 auto;
        top: 45px;
        letter-spacing: 0.04em;
        text-align: center;
        text-transform: capitalize;
    }
    
    .profile__count {
        font-size: 14px;
        font-family: "Helvetica Neue";
        color: rgb(163, 162, 168);
        position: relative;
        text-align: center;
        top: 47px;
        letter-spacing: 0.04em;
    }
    /* upload button */
    
    .upload-button {
        display: block;
        border-radius: 20px;
        background-color: rgb(234, 90, 90);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
        position: relative;
        top: 67px;
        width: 160px;
        height: 36px;
        z-index: 3;
        font-size: 15px;
        font-family: "Helvetica Neue";
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        margin: 0 auto;
        transition: background-color .2s ease-in-out;
    }
    
    .upload-button:hover {
        background-color: rgba(234, 90, 90, 0.637);
    }
    /* search input */
    
    .search {
        display: flex;
        align-items: center;
        justify-content: start;
        position: relative;
        left: 0px;
        width: 100%;
        height: 60px;
        border-top: 1px solid rgb(17, 17, 17);
        border-bottom: 1px solid rgb(17, 17, 17);
    }
    
    .search__forma {
        position: relative;
        width: 20px;
        height: 20px;
        margin-left: 20px;
        margin-right: 10px;
    }
    
    .search__input {
        font-size: 16px;
        font-family: "Helvetica Neue";
        color: rgb(163, 162, 168);
        position: relative;
        width: 170px;
        cursor: text;
    }
    
    .search__input::placeholder {
        color: rgb(68, 68, 68);
    }
    /* MENU */
    
    .menues {
        display: flex;
        flex-direction: column;
        height: calc(100% - 370px);
    }
    
    .menu {
        position: relative;
        top: 0;
        padding-top: 36px;
        width: 100%;
    }
    
    .menu__options_sticky {
        position: relative;
        overflow-y: scroll;
        height: 100%;
        flex-grow: 1;
        scroll-behavior: smooth;
    }
    
    .menu__options_sticky::-webkit-scrollbar-thumb {
        background-color: rgba(234, 90, 90, 0.7);
        border-radius: 5px;
    }
    
    .menu__options_sticky::-webkit-scrollbar-thumb:hover {
        background-color: rgba(234, 90, 90);
    }
    
    .menu__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        font-family: 'Helvetica Neue';
        color: rgb(214, 213, 223);
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        padding-left: 18px;
        padding-right: 18px;
        margin-bottom: 17px;
        letter-spacing: 0.05em;
    }
    
    .menu__link {
        padding: 0;
        margin: 0;
        letter-spacing: 0;
    }
    
    .menu__anchor {
        z-index: 20;
    }
    
    .menu__button {
        cursor: pointer;
        float: right;
        position: relative;
        width: 18px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
        border-width: 2px;
        border-color: rgb(234, 90, 90);
        border-style: solid;
        border-radius: 50%;
    }
    
    .menu__new-album {
        font-size: 14px;
        font-family: "Helvetica Neue";
        color: rgb(163, 162, 168);
        position: relative;
        width: 170px;
        cursor: text;
        margin-left: 30px;
        display: none;
    }
    
    .menu__option {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-family: "Helvetica Neue";
        font-weight: normal;
        color: #a3a2a8;
        position: relative;
        width: 100%;
        height: 30px;
        margin: 10px 0 0;
        padding-left: 33px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: all .2s ease;
    }
    
    .menu__option:hover .checkmark {
        background-color: #19181e;
    }
    
    .menu__option:hover {
        color: rgb(214, 213, 223);
    }
    
    .menu__input {
        display: block;
        z-index: 0;
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
    }
    
    .checkmark {
        display: flex;
        align-items: center;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30px;
        padding-left: 30px;
        background-color: transparent;
        border-left: 3px solid transparent;
    }
    
    input:checked~.checkmark {
        background-color: #19181e;
        color: rgb(214, 213, 223);
        border-left: 3px solid rgb(234, 90, 90);
    }
    
    .scale {
        z-index: 2;
        display: block;
        box-sizing: content-box;
        background-color: rgb(25, 24, 30);
        position: absolute;
        left: 0;
        bottom: 0;
        width: 220px;
        height: 60px;
        border-top: 1px solid rgb(17, 17, 17);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .scale__grid-small {
        position: relative;
        width: 20px;
        height: 20px;
        margin-left: 20px;
        background-image: url("../svg/Smaller_icon1.svg");
    }
    
    .scale__grid-large {
        position: relative;
        width: 20px;
        height: 20px;
        margin-right: 20px;
        background-image: url("../svg/Bigger_icon.svg");
    }
    
    .scale__slider {
        -webkit-appearance: none;
        appearance: none;
        width: 100px;
        height: 2px;
        background: rgb(17, 17, 17);
        outline: none;
        margin: auto;
    }
    
    .scale_slider-fill {
        position: relative;
        z-index: 0;
        top: -2px;
        width: 50px;
        left: 0px;
        height: 2px;
        background: rgb(68, 68, 68);
        transition: background-color .2s ease;
    }
    
    .scale__slider:active~.scale_slider-fill {
        background: rgb(101, 101, 101);
    }
    
    .scale__slider:hover~.scale_slider-fill {
        background: rgb(101, 101, 101);
    }
    
    .scale_slider-fill:hover {
        background: rgb(101, 101, 101);
    }
    
    .scale__slider::-webkit-slider-thumb {
        z-index: 2;
        position: relative;
        -webkit-appearance: none;
        appearance: none;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: rgb(234, 90, 90);
        cursor: pointer;
    }
    
    @media (hover: none) and (pointer: coarse) {
        .scale__slider::-webkit-slider-thumb {
            width: 15px;
            height: 15px;
        }
    }
    
    .scale__slider::-moz-range-thumb {
        border: none;
        position: relative;
        z-index: 3;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: rgb(234, 90, 90);
        cursor: pointer;
    }
    
    .scale__slider::-moz-range-progress {
        background-color: rgb(68, 68, 68);
    }
    
    .scale__slider::-moz-range-track {
        background-color: rgb(17, 17, 17);
    }
    /* content */
    
    .content {
        width: 100%;
    }
    
    .actions {
        position: absolute;
        right: 50px;
        top: 30px;
        display: flex;
        justify-content: space-between;
        width: 80px;
        z-index: 1;
    }
    
    .share-button,
    .slideshow-button,
    .logout-button,
    .delete-button {
        padding: 2px;
        box-sizing: content-box;
        border-width: 1px;
        border-color: rgb(192, 192, 192);
        border-style: solid;
        width: 14px;
        height: 14px;
        cursor: pointer;
    }
    
    .album {
        padding-top: 40px;
        position: relative;
        z-index: 0;
    }
    
    .album__anchor {
        border-top: 20px solid transparent;
        margin-top: -20px;
    }
    
    .upload-area:hover {
        border: 3px dashed #ede9ffc7;
    }
    
    .upload-area__input {
        display: none;
    }
    
    .album__title {
        position: relative;
        margin-bottom: 13px;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        transition: background-color .2s;
    }
    
    .album__name {
        left: 0;
        font-size: 22px;
        font-family: "Helvetica Neue";
        color: rgb(68, 68, 68);
        letter-spacing: 0.05em;
        vertical-align: baseline;
        border-radius: 5px;
    }
    
    .input-buffer {
        white-space: nowrap;
        position: absolute;
        top: -1000px;
        left: -1000px;
        visibility: hidden;
    }
    
    .album__title:hover {
        background-color: #E1E1E1;
    }
    
    .album__title_active {
        background-color: #E1E1E1;
    }
    
    .album__title_edit {
        background-color: #E1E1E1;
    }
    
    .album__settings-wrap {
        float: right;
        position: relative;
        opacity: 0;
        width: 90px;
        height: 28px;
        transition: opacity .2s;
    }
    
    .album__settings,
    .album__del,
    .album__edit {
        position: absolute;
        right: 0;
        width: 28px;
        height: 28px;
        padding: 5px;
        border-radius: 5px;
        background-color: #E1E1E1;
        transition: background-color .2s, transform .3s ease-in-out;
    }
    
    .album__settings {
        z-index: 10;
    }
    
    .album__edit_show {
        transform: translateX(-62px)
    }
    
    .album__del_show {
        transform: translateX(-31px)
    }
    
    .album__settings:hover,
    .album__del:hover,
    .album__edit:hover {
        background-color: #FAFAFA;
    }
    
    .album__title_active .album__settings-wrap {
        opacity: 1;
    }
    
    .album__title_edit .album__settings-wrap {
        opacity: 1;
    }
    
    .album__title:hover .album__settings-wrap {
        opacity: 1;
    }
    
    .album__count {
        font-size: 14px;
        font-family: "Helvetica Neue";
        color: rgb(192, 192, 192);
        text-align: left;
        letter-spacing: initial;
        padding-left: 6px;
        bottom: 0;
    }
    
    .album__grid {
        position: relative;
        z-index: -5;
        display: grid;
        justify-content: start;
        grid-gap: 40px 20px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 12.5vw);
        width: 100%;
    }
    
    .upload-area {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: #19181ebe;
        z-index: 10;
        border: 3px dashed #19181e42;
        border-radius: 5px;
        font-size: 42px;
        font-family: "Helvetica Neue";
        color: #ede9ffc7;
        transition: border .2s ease;
        text-align: center;
    }
    
    .album-cell {
        position: relative;
        z-index: -10;
        background: #a3a2a8;
        border-radius: 5px;
        position: relative;
        transition: box-shadow .2s ease;
    }
    
    .album-cell:hover {
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    }
    
    .album-cell:hover .album-cell__meta {
        opacity: 1;
    }
    
    .album-cell__meta {
        background-color: rgba(17, 17, 17, 0.5);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30px;
        font-size: 12px;
        font-family: "Helvetica Neue";
        color: rgb(255, 255, 255);
        letter-spacing: 0.05em;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0 7px;
        opacity: 0;
        transition: opacity .3s ease;
    }
    
    .album-cell__date {
        font-size: 14px;
        font-family: "Helvetica Neue";
        color: rgb(192, 192, 192);
        text-align: left;
        position: absolute;
        bottom: -1.5em;
    }
    
    .album-cell__img {
        border-radius: 5px;
        object-fit: cover;
    }
    
    .avatar-changer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 70vw;
        /* height: 60vh; */
        background: rgb(30, 29, 38);
        top: 20vh;
        left: 15vw;
        z-index: 4;
        border-radius: 5px;
    }
    
    .photo-redactor-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
    
    .photo-redactor-wrap.invisible {
        display: none;
    }
    
    .photo-redactor {
        position: relative;
        left: 0;
        top: 0;
        width: 30vw;
        height: 30vw;
        border-radius: 5px;
        overflow: hidden;
        margin: 20px 0;
    }
    
    .photo-redactor__img-wrap_top {
        position: absolute;
        z-index: 5;
        top: 0;
    }
    
    .photo-redactor__img {
        display: block;
        position: absolute;
        cursor: grab;
        height: auto;
    }
    
    .photo-redactor__img_fade {
        object-position: 0 0;
        display: block;
        position: absolute;
        cursor: grab;
        width: 100%;
        filter: brightness(40%);
    }
    
    .photo-redactor__cropper {
        position: absolute;
        box-sizing: content-box;
        top: 0px;
        left: 0px;
        width: 100px;
        height: 100px;
        border: 1px solid gray;
    }
    
    .photo-redactor__img:hover {
        cursor: move;
    }
    
    .photo-redactor__cropper_circle {
        overflow: hidden;
        top: 0;
        left: 0;
        border-width: 0;
        border-radius: 50%;
    }
    
    .photo-redactor__thumb {
        position: absolute;
        width: 10px;
        height: 10px;
        border: 1px solid gray;
        background: grey;
    }
    
    .photo-redactor__thumb:hover {
        background: rgb(189, 189, 189);
    }
    
    .photo-redactor__thumb_LT {
        top: -5px;
        left: -5px;
        cursor: nw-resize;
    }
    
    .photo-redactor__thumb_RT {
        top: -5px;
        left: calc(100% - 5px);
        cursor: ne-resize;
    }
    
    .photo-redactor__thumb_LB {
        top: calc(100% - 5px);
        left: -5px;
        cursor: sw-resize;
    }
    
    .photo-redactor__thumb_RB {
        top: calc(100% - 5px);
        left: calc(100% - 5px);
        cursor: se-resize;
    }
    
    .upload-avatar-area {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
        width: 50%;
        height: 60vh;
        border-radius: 5px;
        color: rgba(255, 255, 255, 0.384);
        margin: 3vw auto;
        padding: 3vw;
    }
    
    .avatar-upload-button {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 0;
    }
    
    .avatar-drop-area {
        position: relative;
        flex-grow: 1;
        width: 100%;
        border-color: rgb(124, 124, 124);
        margin: 2vw 0;
    }
    
    .upload-area_highlight {
        border-color: #ede9ffc7;
    }
    
    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    
    .box-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.705);
        z-index: 3;
    }
    /* @media (max-width: 1024px) {
        .scale {
            height: 40px;
        }
        .search {
            height: 40px;
        }
    }
    */
    
    @media screen and (max-width: 425px) {
        .sidebar-button {
            display: block;
        }
        body {
            font-size-adjust: 100%;
            margin: 0;
        }
        .sidebar-wrapper {
            background-color: rgb(30, 29, 38);
            height: auto;
            overflow-y: auto;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 1;
            position: fixed;
        }
        .sidebar {
            position: relative;
            width: 100vw;
            height: auto;
            transition: transform .3s ease;
        }
        .scale {
            display: none;
        }
        .top {
            height: 200px;
            display: grid;
            justify-items: center;
            align-items: center;
        }
        .profile__name {
            justify-self: start;
            margin: 0;
            top: 25px;
            grid-column-start: 2;
            grid-row-start: 1;
        }
        .profile__count {
            justify-self: start;
            grid-column-start: 2;
            grid-row-start: 1;
            top: 43px;
        }
        .upload-button {
            grid-row-start: 2;
            grid-column: 1/ span 2;
            top: 0px;
            width: 160px;
            height: 36px;
        }
        .menu__options_sticky {
            overflow-y: unset;
        }
        .content {
            display: block;
            position: absolute;
            width: 100vw;
            height: auto;
        }
        .content_mobile-show {
            z-index: 3;
        }
        .album__grid {
            position: relative;
            z-index: -5;
            display: grid;
            justify-content: start;
            grid-gap: 20px 10px;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, 50vw);
            width: 100%;
        }
    }
    
    @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
        html {
            transform: rotate(-90deg);
            transform-origin: left top;
            width: 100vh;
            overflow-x: hidden;
            position: absolute;
            top: 100%;
            left: 0;
        }
    }
    
    .lds-grid {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
    }
    
    .lds-grid div {
        position: absolute;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #fff;
        animation: lds-grid 1.2s linear infinite;
    }
    
    .lds-grid div:nth-child(1) {
        top: 6px;
        left: 6px;
        animation-delay: 0s;
    }
    
    .lds-grid div:nth-child(2) {
        top: 6px;
        left: 26px;
        animation-delay: -0.4s;
    }
    
    .lds-grid div:nth-child(3) {
        top: 6px;
        left: 45px;
        animation-delay: -0.8s;
    }
    
    .lds-grid div:nth-child(4) {
        top: 26px;
        left: 6px;
        animation-delay: -0.4s;
    }
    
    .lds-grid div:nth-child(5) {
        top: 26px;
        left: 26px;
        animation-delay: -0.8s;
    }
    
    .lds-grid div:nth-child(6) {
        top: 26px;
        left: 45px;
        animation-delay: -1.2s;
    }
    
    .lds-grid div:nth-child(7) {
        top: 45px;
        left: 6px;
        animation-delay: -0.8s;
    }
    
    .lds-grid div:nth-child(8) {
        top: 45px;
        left: 26px;
        animation-delay: -1.2s;
    }
    
    .lds-grid div:nth-child(9) {
        top: 45px;
        left: 45px;
        animation-delay: -1.6s;
    }
    
    @keyframes lds-grid {
        0%,
        100% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
    }
    
    .server-popup {
        display: block;
        position: absolute;
        z-index: 20;
        width: auto;
        padding: 15px;
        left: calc(50%);
        transform: translateX(-50%);
        background-color: rgb(153, 37, 59);
        border-radius: 5px;
        font-size: 18px;
        line-height: initial;
    }